---
import { Code } from '@astrojs/starlight/components';
import TypeCode from './TypeCode.astro';
import DescriptionList from './DescriptionList.astro';
import Since from './Since.astro';

type Props = {
  parameters: {
    name: string;
    type: string;
    since?: string;
    defaultValue?: string;
    description?:Parameters<typeof DescriptionList>['0']['list'];
  }[];
};

const { parameters } = Astro.props;
---

<h3>Parameters</h3>
<ol>
  {
    parameters.map(({ name, type, description, defaultValue, since }) => (
      <li>
        <code>{name}</code>
        {since && 
          <>
            <br />
            <Since since={since} />
          </>
        }
        <TypeCode name={name} type={type} />

        {defaultValue !== undefined && (
          <Code lang="ts" code=`/* default value */\nconst ${name} = ${defaultValue};` />
        )}
        {description && <DescriptionList list={description}/>}
      </li>
    ))
  }
</ol>
